<h3>Olá, {{ deliveryman }}</h3>
<strong>{{message}}</strong>
<div class="info">
  <p>
    <strong>Seu ID: </strong> {{ deliverymanId }} <br />
    <br />
    <strong>ID do pedido: </strong> {{ packageId }} <br />
    <strong>Produto: </strong> {{ product }} <br />
    <br />
    <strong>Destinatário: </strong> {{ name }} <br />
    <strong>Email: </strong> {{ email }} <br />
    <strong>Reside em: </strong> {{ city }} - {{ state }} <br />
    <strong>CEP: </strong> {{ postal_code }} <br />
    <br />
  </p>
</div>
